@import "/css/main.css";

.blog-card {
    width: calc(33.33% - 20px); 
    padding: 20px;
    margin-bottom: 20px;
}

.blog-card h2 {
    font-family: fantasy;
    font-size: 20px;
    color: rgb(3, 25, 87);
}
