
.page-layout {
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood;
    margin: 0;
    grid-area: header;
}

.hero-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-image: url(images/pexels-photo-3225526.jpg);
    margin-top: 15px;
    font-size: 15px;
}

.navigation-link {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color: burlywood;
}

.navigation-link li {
    margin: 0 10px;
    padding: 0;
    font-size: 15px;
}

.sidebar {
    grid-area: sidebar;
    background-color: lightgray;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
}
@import "css/blog.css";
