@import "./blog.css";
@import "../css/styles2.css";
@import "../css/styles3.css";


.page-layout {
  display: grid;
  grid-template-areas:
    "navigation"
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
}

.navigation-container {
  grid-area: navigation;
  background-color: #06c3f8;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  font-family: Hogback, sans-serif;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  text-decoration: underline;
}

.navigation-link {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.navigation-link li {
  margin: 0 10px;
  padding: 0;
  font-size: 15px;
}

.navigation-link li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navigation-link li a:hover {
  color: #ff6600;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-header {
  grid-area: header;
  background-image: url("../image/feet.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: xx-large;
  padding: 100px 0;
  transition: background-image 0.5s ease;
  background-image: url("../image/pexels-photo-4198572.jpg");
  animation: changeBackground 16s linear infinite;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 0;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
  height: 300px;
  position: relative; /* Set .box as the positioning context */

}



.footer {
  grid-area: footer;
  
}

/* Add styles for the latest blog header */
.latest-blog-header {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  animation: colorChange 5s infinite;
}

/* Define the color-changing animation */
@keyframes colorChange {
  0% {
    color: #ff6600; /* Initial color */
  }
  25% {
    color: #06c3f8; /* Color change step 1 */
  }
  50% {
    color: #ffcc00; /* Color change step 2 */
  }
  75% {
    color: #17a6e9; /* Color change step 3 */
  }
  100% {
    color: #ff6600; /* Back to initial color */
  }
}



.box figcaption {
  position: absolute;
  bottom: 0; /* Adjust as needed to control the position */
  left: 0; /* Adjust as needed to control the position */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #fff;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transform: translateY(100%); /* Hide initially */
  transition: opacity 0.3s, transform 0.3s;
}

.box:hover figcaption {
  opacity: 1;
  transform: translateY(0);
}