body,
h1,
p {
  margin: 0;
  padding: 0;
  text-decoration: bold #ff6600;
  text-shadow: #000000;
}

.header-container {
  background-color: #06c3f8;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-family: hogback;
  font-size: 25px;
 
}

.navigation-link {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #ff6600;
  text-shadow: 100px #000000;
}

.navigation-link li {
  margin: 0 20px;
}

.navigation-link a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #ff6600;
  transition: color 0.3s ease;
  text-shadow: #000000;
}

.navigation-link a:hover {
  color: #333;
}

.blog-post {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.sidebar {
  flex-basis: 30%;
  background-color: #06c3f8;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  font-size: large;
  height: 1400px; /* Adjust the height to your preference */
  overflow-y:0;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: #333;
  
  
}
.sidebar-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold; 
  font-style: italic;
  
}
.sidebar-image img {
  width: 90%;
  max-height: 400px; /* Adjust the height as needed */
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-color: #ff6600;
  border: 5px #ff6600;

}
.author-intro {
  text-align: center;
  font-weight: bold; /* Make the text bolder */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  padding: 40px;
  background-color: #ff6600;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blockquote {
  background-color: #06c3f8;
  border-left: 4px solid #06c3f8;
  padding: 15px;
  margin: 20px 0;
  font-style: italic;
  font-size: 25px;
  color: #fff; 
  font-style: italic;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-content {
  flex-basis: 65%;
  text-align: center;
 text-decoration: wavy;
 text-shadow: #000000;
 color: #363535;
 font-family: sans-serif;
 font-size: 15px;
}

.blog-post h1 {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-style:bold solid black;
  text-shadow: #000000;
  padding-top: 20px;
  font-family: hogback;
}

.blog-post p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: #000000;
}

.blog-post ol {
  font-size: 18px;
  font-style: inherit;
  line-height: 1.5;
  text-align: center;
  text-shadow: #000000;
}

.footer {
  background-color: #06c3f8;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

#github {
  background-image: url("/image/github.png");
}

#facebook {
  background-image: url("/image/facebook.png");
}

@font-face {
  font-family: "Hogback";
  src: url("/font/Hogback.otf") format("otf"),
    url("fonts/your-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.styled-image {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  border: 5px solid #ff6600;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.cta-container {
  background-color: #ff6600; 
  color: #fff;
  padding: 20px; 
  text-align: center; 
  font-size: 28px;
  font-style: italic;
  text-shadow: #000000;

}


@media (max-width: 768px) {
  .cta-container {
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
  }
  
  .subscribe-bar {
    background-color: #ff6600;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
 
  .subscribe-bar input[type="email"],
  .subscribe-bar button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .subscribe-bar input[type="email"] {
    width: 100%;
    max-width: 300px; 
  }
  
  .subscribe-bar button {
    background-color: #06c3f8;
    color: #fff;
    cursor: pointer;
  }
  
  .subscribe-bar button:hover {
    background-color: #17a6e9;
  }
  
  
  @media (max-width: 767px) {
   
  }

  .bold-text {
    font-weight: bold;
  }

  
}


.author-info {
  text-align: center;
  padding: 20px;
  font-size: x-large;
}

.author-avatar {
  width: 150px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow to the avatar */
}

.author-name {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
  color: #333; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

.author-title {
  font-size: 30px;
  margin: 5px 0;
  color: #666; 
}

.author-company {
  font-size: 30
  px;
  margin: 5px 0;
  color: #666; 
}

.author-bio {
  font-size: 40px;
  margin: 10px 0;
  color: #444; 
  line-height: 1.4; 
}
.social-sharing {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px; 
}

.social-sharing a {
  margin-right: 10px; 
  text-decoration: none;
}

.social-sharing img {
  width: 30px; 
  height: 30px; 
  border: none; 
  transition: transform 0.2s ease-in-out; 
}

.social-sharing img:hover {
  transform: scale(1.2); 
}

