.page-layout {
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";

}
.header-container {
display:flex;
flex-direction:row;
align-items:center;
justify-content: space-between;
background-color: burlywood;
margin:0;
}
.hero-header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    padding: 40px;
    background-image: url(images/pexels-photo-3225526.jpg);
    margin-top: 15px;
    font-size: 15px;
}
.navigation-link{
list-style-type: none;
display:flex;
flex-direction: row;
background-color: burlywood;

}
.navigation-link li {
    margin:0 10px;
    padding: 0;
font-size: 15px;

}
.blog-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
    padding: 10px;

}
 .blog-card{
    
}