@import 'blog.css';
@import 'styles2.css';
@import 'styles3.css';

.page-layout {
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto auto auto;
  gap: 10px;
}

.header-container {
  background-color: #06c3f8; /* Change the background color to a dark color */
  color:#ffffff; /* Change the text color to white */
  padding: 20px; /* Add some padding to create spacing around the content */
  display: flex;
  justify-content: space-between; /* Space the elements evenly */
  align-items: center;
  text-shadow: #121212;
}
.hero-header {
  background-image: url("pexels-photo-837745.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    transition: background-image 0.5s ease;
background-image: url(pexels-photo-837745.jpg);
animation: changeBackground 16s linear infinite;
}

.navigation-link {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color:#ff6600;
}

.navigation-link li {
  margin: 0 10px;
  padding: 0;
  font-size: 15px;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(255, 255, 255);
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-container h5 {
  font-family: Hogback, sans-serif;
  font-size: 24px; 
  margin: 0; 
}

/* Style the navigation links */
.navigation-link ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-link li {
  display: inline-block; 
  margin-right: 20px;
  font-size: 18px; 
}


.navigation-link li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navigation-link li a:hover {
  color: #ff6600; 
}
@font-face {
  font-family: 'Hogback'; /* Replace with a suitable name for your font */
  src: url('Hogback.otf') format('otf'), /* Replace with the path to your font file */
       url('fonts/your-font.woff') format('woff'); /* Add additional formats if needed */
  font-weight: normal;
  font-style: normal;
}