.page-layout {
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";

}
.header-container {
display:flex;
flex-direction:row;
align-items:center;
justify-content: space-between;
}
.hero-header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;


}
.navigation-link{
list-style-type: none;
display:flex;
flex-direction: row;

}
.navigation-link li {
    margin:0 10px;
    
}